* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #3e4e5b;
  --background-color: #51616E;
  --font-color:  #FAEDDD;
}

body {
  width: 100vw;
  background-color: var(--primary-color);
}

html {
  font-size: 12px;
}

h1 {
  font-size: 2rem;
  background-color: var(--primary-color);
  display: inline;
}

.parent {
  font-size: 10px;
}

.child {
  width: 20vw;
  height: 20vh;
  background-color: var(--background-color);
  font-size: 2em;
  color: var(--font-color);
  margin-bottom: 12px;
}
span {
  /* font-size: 2em; */
  font-weight: bold;
  display: none;
  background-color: #51616E;
  width: 60px;
  height: 10px;
}
.unique {
  float: right;
}

p {
  background-color: var(--background-color);
  color: var(--font-color);
  display: inline;
  width: 60px;
  height: 10px;
}

img {
  width: 100px;
  height: auto;
  display: block;
}



