.topics {
  margin-top: 10px;
  margin-left: 20px;
}

.informations {
  margin-top: 10px;
  border-radius: 5px;
}

footer {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 12px;
}

body {
  background-color: #093229;
  color: #e4ddd3;
  margin-left: 20px;
}

input,
button,
option,
select {
  background-color: #e4ddd3;
}

#part {
  border: 1px, solid, #e4ddd3;
  width: 500px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 3px;
}

#part1 {
  border: 1px, solid, #e4ddd3;
  width: 500px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 3px;
  margin-top: 20px;
}
