body{
    background-color: black;
    font-size: 15px;
}

#first{
    padding-top: 10px;
}

#main{
    background-color: white;
    width: 1220px;
    margin-top: 40px;
    margin-left: 30px;
    padding-left: 5px;
}

#topic{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 550;
}

.subTopics{
    font-size: 18px;
    font-weight: 550;
    padding-top: 10px;
    padding-bottom: 10px;
}

#last{
    padding-bottom: 15px;
}

a{
    color: blue;
}